*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: #fff;
    padding: "10px 20px",
}

.active-link a {
  color: red;
}
